{% extends 'WebApp/base.html' %}

{% block content %}
<div class="R1">
    <h1 style="color: tomato">What You Need To know</h1>
    <h2 style="padding: 20px">-----</h2>
    <p>HubView is an IT Company that deals with different kind of it doing and we are <br> the best at what we do, no doubt should be given about that. Alryt?</p>
</div>

<div class="R2">
    <h1 style="color: white">What We Stand For</h1>
    <h2 style="padding: 20px">-----</h2>
    <p>The world we are today needs professionals to build in a precise time without <br> delay and always deliver on request</p>
</div>

<div class="img-table">
    <table>
        <tr>
            <td>
                <img src="media/Web_pics/4.jpg" alt="image" style="width: 200px; height: 250px;">
                <h2>CEO</h2>
            </td>
            <td>
                <p>This is the CEO of HubView Ltd. and he has been able to work over the years with different IT <br> Companies and he has succeded in working with all of them, because of this versertatlity <br> he has been able to bring together some of the best of teams <br> he has meet to do something great</p>
            </td>
        </tr>
    </table>
</div>

<h2 style="text-align: center; font-weight:bold; font-family: arial; color: tomato">MEET THE TEAM</h2>
<h2 style="padding: 20px; text-align: center; font-weight: bold; font-family: arial;">-----</h2>

<div class="the-team">
    <img src="media/Web_pics/4.jpg" alt="image">
    <img src="media/Web_pics/4.jpg" alt="image">
    <img src="media/Web_pics/4.jpg" alt="image">
    <img src="media/Web_pics/4.jpg" alt="image">
</div>

<footer>
    
    <table>
        <tr>
            <td>
                <h2 style="font-weight: bold; font-family: arial;">HUBVIEW</h2>
            </td>
            <td>
                <ul style="list-style-type: none;">
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </td>
            <td>
                <p>This website was launched to inform every of it user about the latest happening in the community.<br><b>No private infomation should be disclosed.</b></p><br><br><br>
                <p><b>CopyRight HubView 2021</b></p>
            </td>
        </tr>
    </table>
    
</footer>

{% endblock %}