{% extends 'WebApp/base.html' %}

{% block content %}
<div class="portfolio">

<h2 style="color: tomato">Portfolio Page</h2>
<p>We are bringing the content to you so you have nothing to worry about, all will be well soon.</p>

<h3 style="color: tomato">The Portfolio List</h3>
<ul>
	<li>Investment</li>
	<li>Real Estate</li>
	<li>Stock</li>
	<li>Forex</li>
</ul>

<h3 style="color: tomato">Explanation in bit</h3>

<p><b>1. Investment:</b> Our investment platform is the best and we are looking forward to starting the operation soon.</p>
<p><b>2. Real Estate:</b> Real-Estate is the deal and we want you to enjoy the service as our customer.</p>
<p><b>3. Stock:</b> Stock is life changing and with the best practise of stock market you will excel.</p>
<p><b>4. Forex:</b> Forex is the main deal and we offer Forex trading tutor.</p>

</div>

{% endblock %}